{% extends 'base.html.twig' %}

{% block title 'Exercices Symfony 4' %}

{% block body %}

    <h1>Exercice SF4</h1>

    <div class="response" style="display:inline-block">
        <div class="top-info">
            {% if city.name != null %}
                <div>
                    <b>Ville : </b>{{ city.name }}
                </div>
            {% endif %}
            {% if city.longitude != null %}
                <div>
                    <b>Longitude : </b>{{ city.longitude }}
                </div>
            {% endif %}
            {% if city.latitude != null %}
                <div>
                    <b>Latitude : </b>{{ city.latitude }}
                </div>
            {% endif %}
            {% if city.pression != null %}
                <div>
                    <b>Pression : </b>{{ city.pression }}
                </div>
            {% endif %}
            {% if city.humidite != null %}
                <div>
                    <b>Humidité : </b>{{ city.humidite }}
                </div>
            {% endif %}
        </div>

        {% if city.weather != null %}
            <div class="list-weather">
                <h2>Météo par jour :</h2>
                {% for weather in city.weather %}
                        {% if weather != null %}
                            <div class="weather_day">
                                {% if weather.jour != null %}
                                    <h4>{{ weather.jour }}</h4>
                                {% endif %}
                                {% if weather.condition != null %}
                                    <div class="day_info">
                                        <div class="title inline_info">Condition :</div>
                                        <div class="inline_info">{{ weather.condition }}</div>
{#                                        <div class="inline_info"><img alt={{ weather.condition }}; src={{ weather.icon }} ></div>#}
                                    </div>
                                {% endif %}
                                {% if weather.tmin != null %}
                                    <div class="day_info">
                                        <div class="title inline_info">T° min :</div>
                                        <div class="inline_info">{{ weather.tmin }}</div>
                                    </div>
                                {% endif %}
                                {% if weather.tmax != null %}
                                    <div class="day_info">
                                        <div class="title inline_info">T° max :</div>
                                        <div class="inline_info">{{ weather.tmax }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
        {% endif %}


    </div>

    <div class="response" style="display:inline-block">
        <div class="top-info">
            {% if city_infoClimat.name != null %}
                <div>
                    <b>Ville : </b>{{ city_infoClimat.name }}
                </div>
            {% endif %}
            {% if city_infoClimat.longitude != null %}
                <div>
                    <b>Longitude : </b>{{ city_infoClimat.longitude }}
                </div>
            {% endif %}
            {% if city_infoClimat.latitude != null %}
                <div>
                    <b>Latitude : </b>{{ city_infoClimat.latitude }}
                </div>
            {% endif %}
            {% if city_infoClimat.pression != null %}
                <div>
                    <b>Pression : </b>{{ city_infoClimat.pression }}
                </div>
            {% endif %}
            {% if city_infoClimat.humidite != null %}
                <div>
                    <b>Humidité : </b>{{ city_infoClimat.humidite }}
                </div>
            {% endif %}
        </div>

        {% if city_infoClimat.weather != null %}
            <div class="list-weather">
                <h2>Météo par jour :</h2>
                {% for weather in city_infoClimat.weather %}
                    {% if weather != null %}
                        <div class="weather_day">
                            {% if weather.jour != null %}
                                <h4>{{ weather.jour }}</h4>
                            {% endif %}
                            {% if weather.condition != null %}
                                <div class="day_info">
                                    <div class="title inline_info">Condition :</div>
                                    <div class="inline_info">{{ weather.condition }}</div>
{#                                    <div class="inline_info"><img alt={{ weather.condition }}; src={{ weather.icon }} ></div>#}
                                </div>
                            {% endif %}
                            {% if weather.tmin != null %}
                                <div class="day_info">
                                    <div class="title inline_info">T° min :</div>
                                    <div class="inline_info">{{ weather.tmin }}</div>
                                </div>
                            {% endif %}
                            {% if weather.tmax != null %}
                                <div class="day_info">
                                    <div class="title inline_info">T° max :</div>
                                    <div class="inline_info">{{ weather.tmax }}</div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}